.mynav
{
  background-color: #ea3c42;
  color: white;
  font-size: calc(.9rem + .6vw);

  position: relative;
}
.mynav .fa-bars ,.fa-bell
{
  font-size: calc(.9rem + .5vw);
  cursor: pointer;
}
.mynav .fa-caret-down
{
  font-size: 10px;
  cursor: pointer;
}
.company-logo::after{
  content: " HCMS";
  color: white;
  font-size: calc(.5rem + .5vw);
}
.company-logo{
  border-left: 2px solid white;
  position: absolute;
  padding-left: 5px;
  bottom: 0;
  cursor: pointer;
}
.profile-img
{
  width: 30px;
  height: 30px;
  cursor: pointer;

}
.user-name
{
  font-size: 14px;
  cursor: pointer;
}
